html, body {
    background: whitemsoke;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: grey;
    margin-top: -20px;
}

.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
}

.item {
    background: #227093 !important;
}

.item:nth-child(1) {
    padding: 10px;
}

.hold_run_button  {
    text-align: center;
}

.run_button {
   background: #d1ccc0 !important;
}

button {
    background: gold;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: #141414;
    font-size: 20px;
    cursor: pointer;
    outline: 0;
    margin-bottom: 5px;
}

.hold_buttons_wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.html_css {
    width: 40% !important;
}

/* FLEX 1 */

#flex_1_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
}

.flex_1_container_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 30px;
    background: #34ace0;
}